@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Roboto Slab import
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);

// Roboto import
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

// Html 5 Element
$audio-canvas-video: false; // True | False

// Fonts

$roboto-slab: 'Roboto Slab', serif;
$roboto: 'Roboto', sans-serif;


// = Colors
// -----------------------------

// Graphic chart
$red: #df2e30;
$blue: #1894c4;
$facebook: #3b5998;
$twitter: #43bfe1;

$color1: $red;
$color2: $blue;

// Text
$color-text-base: #212121;
$color-text-white: #FFFFFF;

// link
$color-link: $color1;
$color-link-hover: darken($color1, 10%);

// Mixin Placeholder
$color-mixin-placeholder: #cdcdcd;

// Selection
$color-selection: $color1;

// Btn
$bg-btn: #555;
$bg-btn-hover: darken($bg-btn, 10%);
$clr-btn: #212121;
$clr-btn-hover: darken($clr-btn, 10%);

// Sidebar
$sidebar-black: #212020;
$sidebar-blue: #38a4dd;
$icon-bg-blue: #3474ba;

// Content
$white: #ffffff;

// = Grid
// -----------------------------

// Max width wrapper
$wrapper-width: pxtoem(1140, 16);

// = Prefix
// -----------------------------

$prefix-for-webkit:    true !default;
$prefix-for-mozilla:   true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera:     true !default;
$prefix-for-spec:      true !default; // required for keyframe mixin

// = Responsive
// -----------------------------

$width-large: 75em; // 1200/16
$width-medium: 62em; // 992/16
$width-small: 48em; // 768/16